<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="http://www.duwuxia.com/uploads/simpsons/simpsons_PNG15.png" width="30" height="30" class="d-inline-block align-top" alt=""> My Nice Blog
  </a>
</nav>